<div class="container">

  <div class="row align-items-center">
    <div class="mx-auto">
      <h3><i class="fas fa-robot"></i>ChatBoot com DialogFLow </h3>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-lg-8">
      <ul #scrollMe class="messages">
        <div  *ngFor="let msg of resultados " >
        <li class="message appeared" [ngClass]="{'left':msg.remetente === 'boot',
                        'right':msg.remetente === 'eu'     }">
          <div class="avatar"></div>

          <div class="text_wrapper">
            <p> <span class="time_date">({{msg.data | date:'HH:mm:ss'}})</span></p>
            <div class="text"> {{msg.mensagem}}</div>
          </div>
        </li>
      </div>
      </ul>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">

    <div class="col-sm-6">
      <input type="text" class="form-control " (keyup.enter)="sendMessage()" [(ngModel)]="msg" />
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success sendbtn" (click)="sendMessage()"><i class="far fa-share-square"></i> Enviar</button>
    </div>
  </div>
